<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default"></nav>
    <div class="container" ng-controller="CustomerCtrl as vm">
        <h2>{{vm.title}}</h2>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <div class="list-group">
                    <a class="list-group-item"
                       ng-repeat="c in vm.customers"
                       ng-click="vm.selectCustomer(c)"
                       ng-class="{ 'active': c == vm.customer }">
                        {{c.CompanyName}}
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <customer-card user="vm.customer" ng-show="vm.customer"></customer-card>
                <!--<pre>{{vm.customer}}</pre>-->
            </div>
        </div>
        <hr />
        <!--<pre>{{vm.data}}</pre>-->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/myCustomers.js"></script>

    <!--<script type="text/ng-template" id="customerCardTemplate.html">
        <div style="border: 1px solid aqua; border-radius: 10px; padding: 10px; width: 336px; height: 214px;">
            <h4>{{user.CompanyName}}</h4>
            Contact: <b>{{user.ContactName}}</b>
            {{user.Phone}}
            <h5>{{user.ContactTitle}}</h5>
            <address>
                {{user.Address}}<br />
                {{user.City}}
                {{user.Region}}
                {{user.PostalCode}}<br />
                {{user.Country}}
            </address>
            CustomerID: {{user.CustomerID}}
        </div>
    </script>-->

</body>
</html>
